{% extends "bootstrap_base.html" %}

{% block content %}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100" style="width: 100%"></div>
</div>
<div class="alert alert-danger" role="alert">
  404 Error: {{error_message}}
</div>

<iframe
    src="http://localhost:3000/public/dashboard/bf5c8f62-8746-4e3a-9c3a-7cc829c4a0b3"
    frameborder="0"
    width="1600"
    height="1200"
    allowtransparency
></iframe>
{% endblock %}

{% block scripts %}
{% endblock %}